/**************** GESTION DES POLICES ****************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
html, body
{ 
    height: 100vh; 
}

/*
bleu foncé : #1A2238
bleu-violet clair : #9DAAF2
orange : #FF6A3D
jaune pale : #F4DB7D
#####################################
orange : #FB8122
noir : #1D2228
gris clair : #E1E2E2
*/

/**************** GESTION DE LA BARRE DE NAVIGATION ****************/
#logo
{
    /*border : 1px solid red;*/
    height : 9vh;
    width : 25vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left : 1vw;
    font-family: 'Rubik', sans-serif;
    color: #e1e2e2f6;
    font-weight: 500;
    font-size: 35px;
    text-decoration: none;
}

#logo:hover
{
    color : #9DAAF2;
    transition: 0.4s;
}

#header
{
    /*border: 1px solid green;*/
    background-color: #1d2228;
    max-height: 15vh;
}

#navbar 
{
    /*border: 1px solid blue;*/
    width: 55vw;
    height : 9vh;
    padding-left: 20vw;
}

nav ul
{
    /*border: 1px solid rgb(49, 150, 209);*/
    justify-content: space-between;
    align-items: center;
}

.menu, #header
{
    list-style: none;
    display: flex;
    padding: 1% 5%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.menu li a 
{
    /*border: 1px solid sienna;*/
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 19px;
    text-decoration: none;
    padding: 1vh 1vw;
    color: #e1e2e2bd;
}
.menu li a:hover 
{
    color: #e1e2e2f6;
    font-weight: bold;
    border-bottom: 5px solid #9DAAF2;
    transition: 0.4s;
}

/**************** GESTION DE LA BANNIERE ****************/
/* Bannière de la page d'acceuil */
.banner
{
    /*border: 1px solid blue;*/
    padding: 20vh 20vw 20vh 20vw;
    font-family: 'Nunito', sans-serif;
    color: #e1e2e2cc;
    background-color: #1D2228;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
}

.banner-meta p
{
    /*border: 1px solid rebeccapurple;*/
    background-color: #e1e2e223;
    border-radius: 10px 10px 10px 10px;
    padding: 1vh 2vh;
    font-size: 22px;
    font-weight: bold;
}
.banner-title
{
    /*border: 1px solid chartreuse;*/
    padding-top: 7vh;
    padding-bottom: 7vh;
    color : #FB8122;
}
.banner-title p
{
    /*border: 1px solid violet;*/
    font-size: 60px;
    font-weight:bolder;
    text-shadow: 2px 2px 2px #CE5937; /*donne un effet 3D*/
}

.banner-description p
{
    /*border: 1px solid aqua;*/
    font-size: 25px;
    color:#a2aab1;
}

/**************** GESTION DES TITRES DE SECTION ****************/
.section
{
    /*border: 1px solid blue;*/
    padding: 5vh 20vw 20vh 20vw;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    background-color: #1D2228;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

.section-title
{
    font-size: 70px;
    color : #FB8122;
    padding-bottom: 2vh;
}

.section-subtitle
{
    color:#a2aab1;
    font-size: 25px;
}



/**************** GESTION DU FOOTER ****************/
footer
{
    /*border: 1px solid red;*/
    height: 10vh;
    background-color: #1d2228e5;
    margin-top:5vh;
}

.footer-content
{
    /*border: 1px solid green;*/
    color: #e1e2e2cc;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top:5vh;
}