/**************** GESTION DES POLICES ****************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

html, body
{ 
    height: 100vh; 
    background-color:#e1e9f3;
}

/**************** GESTION DE LA BARRE DE NAVIGATION ****************/
#logo
{
    /*border : 1px solid red;*/
    height : 9vh;
    width : 25vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left : 1vw;
    font-family: 'Rubik', sans-serif;
    color: #e1e2e2f6;
    font-weight: 400;
    font-size: 35px;
    text-decoration: none;
}

#logo:hover
{
    color : #8e9df3;
    transition: 0.4s;
}

#header
{
    /*border: 1px solid green;*/
    background-color: #1d2228;
    max-height: 15vh;
}

#navbar 
{
    /*border: 1px solid blue;*/
    width: 55vw;
    height : 9vh;
    padding-left: 20vw;
}

nav ul
{
    /*border: 1px solid rgb(49, 150, 209);*/
    justify-content: space-between;
    align-items: center;
}

.menu, #header
{
    list-style: none;
    display: flex;
    padding: 1% 5%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.menu a 
{
    font-size: 20px;
    text-decoration: none;
    margin: 1vh 1vw;
    padding-bottom: 1vh;
    font-family: 'Quicksand', sans-serif;
}

.link-menu a 
{
    /*border: 1px solid sienna;*/
    font-weight:600;   
    color: #e1e2e2bd;
}

.link-menu a:hover, .link-menu-active a
{
    color: #e1e2e2f6;
    font-weight: bold;
    border-bottom: 5px solid #8e9df3;
    transition: 0.4s;
}

/**************** GESTION DE LA BANNIERE ****************/
/* Bannière de la page d'acceuil */
.banner
{
    /*border: 1px solid blue;*/
    padding: 20vh 20vw 20vh 20vw;
    font-family: 'Nunito', sans-serif;
    color: #e1e2e2cc;
    background-color: #1D2228;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
}

.banner-meta p
{
    /*border: 1px solid rebeccapurple;*/
    background-color: #e1e2e223;
    border-radius: 10px 10px 10px 10px;
    padding: 1vh 2vh;
    font-size: 22px;
    font-weight: bold;
    color:#c3cad3;
}

.banner-title
{
    /*border: 1px solid chartreuse;*/
    padding-top: 7vh;
    padding-bottom: 7vh;
    color : #FB8122;
}

.banner-title p
{
    /*border: 1px solid violet;*/
    font-size: 60px;
    font-weight:bolder;
    text-shadow: 2px 2px 2px #CE5937; /*donne un effet 3D*/
}

.banner-description p
{
    /*border: 1px solid aqua;*/
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color:#a2aab1;
}

/**************** GESTION DES TITRES DE SECTION ****************/
.section
{
    /*border: 1px solid blue;*/
    padding: 5vh 20vw 20vh 20vw;
    /*font-family: 'Nunito', sans-serif;*/
    font-family: 'Rubik', sans-serif;
    background-color: #1D2228;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

.section-title
{
    font-size: 70px;
    color : #FB8122;
    padding-bottom: 2vh;
}

.section-subtitle
{
    color:#a2aab1;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

/**************** GESTION DU CONTENU ****************/
.main-content
{
    /*border: 1px solid red;*/
    padding: 10vh 26vw 10vh 26vw;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.main-content h1
{
    /*border: 1px solid slateblue;*/
    font-size: 40px;
    padding-bottom: 2vh;
    text-align: center;
}

.container
{
    /*border: 1px solid teal;*/
    padding-bottom: 8vh;
}

.container p 
{
    /*border: 1px solid violet;*/
    padding-bottom: 2vh;
}

/**** SPECIFIQUE A about.html ****/
.school li
{
    /*border: 1px solid rosybrown;*/
    list-style-type: none;
    padding-bottom: 4vh;
}

.year
{
    font-weight: bold;
}
.qualities
{
    color:#495ed1;
    font-weight: bold;
    font-size: 20px;
}

.container-logo
{
    /*border: 1px solid violet;*/
    padding-left: 30vh;
    padding-right: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
}

.container-logo p
{
    font-size: 20px;
    font-weight: bold;
}

.container-logo a:hover
{
    opacity: 0.7;
}

/**** SPECIFIQUE A skills.html ****/
.skills-container 
{
    /*border: 1px solid fuchsia;*/
    padding-bottom: 4vh;
}

.skills
{
    /*border: 1px solid palegreen;*/
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-right: 10vw;
    padding-left: 10vw;
}

.skills li
{
    list-style-type: none;
    text-align: center;
}

.skills img:hover
{
    opacity: 0.5;
}

/**** SPECIFIQUE A projects.html ****/
.project-content
{
    /*border: 1px solid red;*/
    padding: 10vh 15vw 10vh 15vw;
}

.project-dot
{
    text-align: center;
}

.dot 
{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(204, 200, 200);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s;
}

.active, .dot:hover 
{
    background-color: #717171;
}

.slide
{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

#prev, #next 
{
    /*border: 1px solid fuchsia;*/
    cursor: pointer;
    padding: 16px;
    width: 6vw;
    transition: 0.6s;
    border-radius: 0 3px 3px 0;
}

#prev:hover, #next:hover 
{
    opacity: 0.5;
}

.project-box
{
    /*border: 1px solid saddlebrown;*/
    width: 100%;
    display: none;
}

.project-capture 
{
    /*border: 1px solid green;*/
    width: 100%;
    height: 70vh;
}

.project-title p
{
    padding-top: 1vh;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.project-description
{
    /*border: 1px solid tomato;*/
    padding: 1vh 10vw;
    text-align: center;
}

.project-type
{
    font-size: 18px;
    font-style: italic;
    padding-bottom: 0.5vh;
}

.technology
{
    font-weight: bold;
}

.project-link img
{
    margin-top: 2vh;
    background-color: #495ed1;
    padding: 0.4vh 3vw 0.4vh 3vw;
    border-radius: 30px;
}

.project-link:hover 
{
    opacity: 0.7;
    transition: 0.4s;
}

/**** SPECIFIQUE A contact.html ****/
.contact-form
{
    /*border: 1px solid green;*/
    text-align: center;
    width: 40vw;
    align-items: center;
}

.element-form
{
    border: 1px solid #a1aab6a4;
    border-radius: 5px;
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    justify-content: space-evenly;
    background-color: white;
    margin-right: 4vw;
    margin-left: 4vw;
    padding: 1vh 0vw 1vh 0vw;
}

.element-form img
{
    height: 24px;
    width: 24px;
    margin-right: 0.4vw;
    margin-left: 0.4vw;
}


input, textarea
{
    width: 30vw;
    border: none;
}

#validate
{
    background-color: #FB8122;
    color: white;
    font-weight: bold;
    width: 10vw;
    height: 5vh;
    border-radius: 20px;
    margin-top: 2vh;
    paddi
}

#validate:hover
{
    opacity: 0.5;
    transition: 0.4s;
}

/**************** GESTION DU FOOTER ****************/
footer
{
    /*border: 1px solid red;*/
    height: 10vh;
    background-color: #1d2228e5;
}

.footer-content
{
    /*border: 1px solid green;*/
    color: #e1e2e2cc;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding-top:2vh;
}